@charset "utf-8";

@import "compass";
@import "compass/reset/";
@import "mixin";

@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);	

* {
	@include box-sizing(border-box);
}

html {
	// font-family: 'メイリオ', 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, sans-serif;
	font-family: 'Noto Sans Japanese', "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
	font-size: 10px;
	min-width: 320px;
	height: 100%;
	background-color: $leapYellow;
	color: #333;
	box-sizing: border-box;
}

body {
	position: relative;
	min-height: 100%;
	// @include fontsize(12);
	-webkit-text-size-adjust:100%;
}

a {
	text-decoration: none;
	color: $leapOrange;
	&:hover {
		color: $leapGrey;
	}
}

img {
	vertical-align: bottom;
}

::selection {
	background: #0d3d6e;
	color: #fff;
}
::-moz-selection {
	background: #0d3d6e;
	color: #fff;
}
.header {
	@include fontsize(125);
    margin-bottom: -32px;
	font-weight: bold;
	color: $leapOrange;
	letter-spacing: -8px;
	z-index: 10;
}
.header____fixed {
	position: fixed;
}
.wrapper {
	// background-color: #fff;
	padding: 15px 40px 80px 40px;
	// width: 1000px;
	width: 100%;
	margin: 0 auto;
}
.main__contents {
	margin-top: 56px;
	padding-left: 9px;
}
.main____underlayer {
	padding-top: 92px;
}
.title {
	@include fontsize(125);
	font-weight: bold;
	color: $leapOrange;
	letter-spacing: -8px;
}
.footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	padding: 15px 0 20px 9px;
	@include fontsize(12);
	color: $leapOrange;
	z-index: 10;
	background-color: rgba($leapYellow, 0.8);
}
.footer__litss {
}
.footer__list {
	display: inline-block;
	margin-right: 70px;
	letter-spacing: 0.1em;
	height: 27px;
	line-height: 27px;
	vertical-align: middle;
}
.footer__list__logo {
	width: 65px;
}
.footerLink {
	margin-bottom: 15px;
}
.footerLink__list {
	position: relative;
	font-weight: bold;
	display: inline-block;
	padding-right: 18px;
	&:after {
		content: "/";
		position: absolute;
		right: 6px;
		top: 0;
	}
	&:last-child {
		&:after {
			content: none;
		}
	}
}