@charset "utf-8";

@import "compass";
@import "mixin";

.news {
	line-height: 2;
}
.news__date {
	@include fontsize(14);
	color: $leapOrange;
	font-weight: bold;
	letter-spacing: 0.1em;
}
.news__detail {
	margin-bottom: 60px;
	letter-spacing: 0.1em;
	strong {
		font-weight: bold;
	}
	em {
		font-style: italic;
	}
	p {
		margin-bottom: 10px;
	}
}