@charset "utf-8";

@import "compass";
@import "mixin";

.rimNavi {
	@extend .header;
	height: 100%;
}
.rimNavi__list {
	display: block;
	word-break: break-all;
	word-wrap: break-all;
	overflow: hidden;
	margin-bottom: -9px;
	padding-bottom: 10px;
	a {
    line-height: 0.74;
		display: block;
	}
}
.rimStaff {
	margin-top: 30%;
}
.rimStaff__introduction {
	padding-top: 121px;
	// padding-bottom: 65px;
}
.rimStaff__job {
	@include fontsize(125);
	font-weight: bold;
	color: $leapOrange;
	letter-spacing: -8px;
	margin-bottom: 50px;
	word-break: break-all;
	word-wrap: break-all;
	line-height: 0.74;
}
.rimStaff__staff {
	line-height: 2;
	padding-left: 9px;
}
.rimStaff__name {
	@include fontsize(20);
	color: $leapOrange;
	letter-spacing: 0.1em;
	font-weight: bold;
}
.rimStaff__clients {
	margin-bottom: 105px;
	letter-spacing: 0.15em;
	h3 {
		color: $leapOrange;
		font-weight: bold;
		text-decoration: underline;
		margin-top: 20px;
	}
	p {
		margin-bottom: 20px;
	}
	strong {
		font-weight: bold;
	}
	em {
		font-style: italic;
	}
}
.rinStaffOrder {
	padding-bottom: 130px;	
}