@charset "utf-8";

@import "compass";
@import "mixin";

.work {
	// margin-top: 56px;
}
.work__lists {
	// overflow: hidden;
}
.work__list {
	display: inline-block;
	overflow: hidden;
	width: 198px;
	height: 198px;
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: $leapGrey;
}
.work__thumbnail {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	&:hover {
		transition: all 0.1s ease-out;
		opacity: 0.7;
	}
}
#modalBg {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
	background: rgba(#000, 0.6);
	display: none;
}
.modalCloseBtn {
	position: absolute;
	right: 20px;
	top: 20px;
	display: block;
	width: 50px;
	height: 50px;
	&:before {
		content: "";
		background-color: #ddd;
		width: 2px;
		height: 70px;
		transform-origin: left top;
		transform: rotate(-45deg);
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		border-radius: 2px;
	}
	&:after {
		content: "";
		background-color: #ddd;
		width: 2px;
		height: 70px;
		transform-origin: right top;
		transform: rotate(45deg);
		position: absolute;
		right: 0;
		top: 0;
		display: block;
		border-radius: 2px;
	}
	&:hover:before, &:hover:after {
		background-color: $leapOrange;		
	}
}
.workDetail__changeBtn {
	content: "";
	position: absolute;
	display: block;
	width: 30px;
	height: 60px;
	&:before {
		content: "";
		width: 2px;
		height: 42px;
		position: absolute;
		display: block;
		background-color: #ddd;
		border-radius: 2px;
	}
	&:after {
		content: "";
		width: 2px;
		height: 42px;
		position: absolute;
		display: block;
		background-color: #ddd;
		border-radius: 2px;		
	}
	&:hover:before, &:hover:after {
		background-color: $leapOrange;		
	}
}
.workDetail__changeBtn--prev {
	left: -60px;
	top: 50%;
	&:before {
		right: 0;
		top: 1px;
		transform-origin: right top;
		transform: rotate(45deg);
	}
	&:after {
		right: 0;
		bottom: 2px;
		transform-origin: right bottom;
		transform: rotate(-45deg);
	}
}
.workDetail__changeBtn--next {
	right: -60px;
	top: 50%;
	&:before {
		left: 0;
		top: 1px;
		transform-origin: left top;
		transform: rotate(-45deg);
	}
	&:after {
		left: 0;
		bottom: 2px;
		transform-origin: left bottom;
		transform: rotate(45deg);
	}
}
.modal__inner {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}
.workDetail_wrapper {
	position: relative;
	margin: 0 auto;
}
.workDetail {
	display: none;
	text-align: center;
	min-width: 640px;
	margin: 0 auto;
}
.workDetail__image {
	margin-bottom: 20px;
	// width: 100%;
	height: 480px;
	// background-position: center center;
	// background-repeat: no-repeat;
	// background-size: contain;
}
.workDetail__credit {
	@include fontsize(12);
	color: #eee;
	line-height: 1.5;
	text-align: left;
	width: 640px;
	margin: 0 auto; 
	p {
		margin-bottom: 10px;
	}
}

body.isOverlayOpen .wrapper {
	overflow: hidden;
	pointer-events: none;
	transition: all .2s ease-out;
    // edgeでバグがあるためなしにする。。。
    // -webkit-filter: blur(6px);
    // -moz-filter: blur(6px);
    // filter: blur(6px);
    // -ms-filter: blur(6px);
}