@charset "utf-8";

@import "compass";
@import "mixin";

.work {
	margin-top: 56px;
}
.work__lists {
	// overflow: hidden;
}
.work__list {
	display: inline-block;
	overflow: hidden;
	width: 198px;
	height: 198px;
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: $leapGrey;
}
.work__thumbnail {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	transition: opacity 0.5s lenear;
	&:hover {
		opacity: 0.7;
	}
}