@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans Japanese', "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-size: 10px;
  min-width: 320px;
  height: 100%;
  background-color: #ffff00;
  color: #333;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: #e6b422;
}
a:hover {
  color: #525252;
}

img {
  vertical-align: bottom;
}

::selection {
  background: #0d3d6e;
  color: #fff;
}

::-moz-selection {
  background: #0d3d6e;
  color: #fff;
}

.header, .navi, .rimNavi {
  font-size: 125px;
  font-size: 12.5rem;
  margin-bottom: -32px;
  font-weight: bold;
  color: #e6b422;
  letter-spacing: -8px;
  z-index: 10;
}

.header____fixed {
  position: fixed;
}

.wrapper {
  padding: 15px 40px 80px 40px;
  width: 100%;
  margin: 0 auto;
}

.top .main {
  padding-top: 17px;
}

.main__contents {
  margin-top: 46px;
  padding-left: 9px;
}

.main____underlayer {
  padding-top: 108px;
}

.title {
  font-size: 125px;
  font-size: 12.5rem;
  font-weight: bold;
  color: #e6b422;
  letter-spacing: -8px;
  word-break: break-all;
  word-wrap: break-all;
  line-height: 0.74;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 15px 0 20px 9px;
  font-size: 10px;
  font-size: 1rem;
  color: #e6b422;
  z-index: 10;
  background-color: #ffff00;
}

.footer__list {
  display: inline-block;
  margin-right: 70px;
  letter-spacing: 0.2em;
  height: 27px;
  line-height: 27px;
  vertical-align: middle;
}

.footer__list__logo {
  width: 65px;
}

.footerLink {
  margin-bottom: 15px;
}

.footerLink__list {
  position: relative;
  font-weight: bold;
  display: inline-block;
  padding-right: 18px;
  letter-spacing: 0.2em;
}
.footerLink__list:after {
  content: "/";
  position: absolute;
  right: 6px;
  top: 0;
}
.footerLink__list:last-child:after {
  content: none;
}

.footerCopy {
  letter-spacing: 0.2em;
}

.navi__list {
  overflow: hidden;
  display: block;
  margin-bottom: -10px;
  padding-bottom: 10px;
}
.navi__list a {
  display: block;
  word-break: break-all;
  word-wrap: break-all;
  line-height: 0.74;
}

.about {
  line-height: 2;
}
.about__title {
  font-size: 12px;
  font-size: 1.2rem;
  color: #e6b422;
  font-weight: bold;
  letter-spacing: 0.25em;
}
.about__detail {
  margin-bottom: 20px;
  letter-spacing: 0.2em;
}

.news {
  line-height: 2;
}

.news__date {
  font-size: 14px;
  font-size: 1.4rem;
  color: #e6b422;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.news__detail {
  margin-bottom: 60px;
  letter-spacing: 0.1em;
}
.news__detail strong {
  font-weight: bold;
}
.news__detail em {
  font-style: italic;
}
.news__detail p {
  margin-bottom: 10px;
}

.work__list {
  display: inline-block;
  overflow: hidden;
  width: 198px;
  height: 198px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #525252;
}

.work__thumbnail {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.work__thumbnail:hover {
  transition: all 0.1s ease-out;
  opacity: 0.7;
}

#modalBg {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

.modalCloseBtn {
  position: absolute;
  right: 20px;
  top: 20px;
  display: block;
  width: 24px;
  height: 24px;
}
.modalCloseBtn:before {
  content: "";
  background-color: #ddd;
  width: 2px;
  height: 34px;
  transform-origin: left top;
  -webkit-transform-origin: left top;
  transform: rotate(-45deg);
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  border-radius: 2px;
}
.modalCloseBtn:after {
  content: "";
  background-color: #ddd;
  width: 2px;
  height: 34px;
  transform-origin: right top;
  -webkit-transform-origin: right top;
  transform: rotate(45deg);
  position: absolute;
  right: -1px;
  top: 0;
  display: block;
  border-radius: 2px;
}
.modalCloseBtn:hover:before, .modalCloseBtn:hover:after {
  background-color: #e6b422;
}

.workDetail__changeBtn {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 30px;
}
.workDetail__changeBtn:before {
  content: "";
  width: 2px;
  height: 18px;
  position: absolute;
  display: block;
  background-color: #ddd;
  border-radius: 2px;
}
.workDetail__changeBtn:after {
  content: "";
  width: 2px;
  height: 18px;
  position: absolute;
  display: block;
  background-color: #ddd;
  border-radius: 2px;
}
.workDetail__changeBtn:hover:before, .workDetail__changeBtn:hover:after {
  background-color: #e6b422;
}

.workDetail__changeBtn--prev {
  left: -60px;
  top: 225px;
}
.workDetail__changeBtn--prev:before {
  right: 0;
  top: 5px;
  transform-origin: right top;
  -webkit-transform-origin: right top;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.workDetail__changeBtn--prev:after {
  right: 0;
  bottom: 2px;
  transform-origin: right bottom;
  -webkit-transform-origin: right bottom;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.workDetail__changeBtn--next {
  right: -60px;
  top: 225px;
}
.workDetail__changeBtn--next:before {
  left: 0;
  top: 5px;
  transform-origin: left top;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.workDetail__changeBtn--next:after {
  left: 0;
  bottom: 2px;
  transform-origin: left bottom;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal__inner {
  height: 100%;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}

.workDetail_wrapper {
  position: relative;
  min-width: 640px;
  margin: 0 auto;
}

.workDetail {
  display: none;
  text-align: center;
  min-width: 640px;
  margin: 0 auto;
}

.workDetail__image {
  margin-bottom: 20px;
  height: 480px;
}

.workDetail__credit {
  font-size: 10px;
  font-size: 1rem;
  color: #eee;
  line-height: 2;
  text-align: left;
  width: 640px;
  margin: 0 auto;
  letter-spacing: 0.2em;
}
.workDetail__credit p {
  margin-bottom: 10px;
}

body.isOverlayOpen .wrapper {
  overflow: hidden;
  pointer-events: none;
  transition: all .2s ease-out;
}

.rimNavi {
  height: 100%;
}

.rimNavi__list {
  display: block;
  word-break: break-all;
  word-wrap: break-all;
  overflow: hidden;
  margin-bottom: -9px;
  padding-bottom: 10px;
}
.rimNavi__list a {
  line-height: 0.74;
  display: block;
}

.rimStaff {
  margin-top: 30%;
}

.rimStaff__introduction {
  padding-top: 121px;
}

.rimStaff__job {
  font-size: 125px;
  font-size: 12.5rem;
  font-weight: bold;
  color: #e6b422;
  letter-spacing: -8px;
  margin-bottom: 50px;
  word-break: break-all;
  word-wrap: break-all;
  line-height: 0.74;
}

.rimStaff__staff {
  line-height: 2;
  padding-left: 9px;
}

.rimStaff__name {
  font-size: 20px;
  font-size: 2rem;
  color: #e6b422;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.rimStaff__clients {
  margin-bottom: 105px;
  letter-spacing: 0.15em;
}
.rimStaff__clients h3 {
  color: #e6b422;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 20px;
}
.rimStaff__clients p {
  margin-bottom: 20px;
}
.rimStaff__clients strong {
  font-weight: bold;
}
.rimStaff__clients em {
  font-style: italic;
}

.rinStaffOrder {
  padding-bottom: 130px;
}
