@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans Japanese', "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-size: 10px;
  height: 100%;
  background-color: #ffff00;
  color: #333;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: #e6b422;
}
a:hover {
  color: #525252;
}

img {
  vertical-align: bottom;
}

::selection {
  background: #0d3d6e;
  color: #fff;
}

::-moz-selection {
  background: #0d3d6e;
  color: #fff;
}

.header, .navi {
  font-size: 100px;
  font-size: 10rem;
  margin-bottom: -25px;
  font-weight: bold;
  color: #e6b422;
  letter-spacing: -8px;
}
.header________fixed {
  position: fixed;
}

.wrapper {
  background-color: #fff;
  padding: 40px;
  width: 1000px;
  margin: 0 auto;
}

.title {
  font-size: 100px;
  font-size: 10rem;
  font-weight: bold;
  color: #e6b422;
  letter-spacing: -8px;
}

.footer {
  position: fixed;
  bottom: 20px;
  font-size: 12px;
  font-size: 1.2rem;
  color: #e6b422;
}

.navi__list {
  margin-bottom: -26px;
  overflow: hidden;
  height: 100px;
  display: block;
}
.navi__list a {
  display: block;
}

.about {
  margin-top: 56px;
  line-height: 2;
}
.about__title {
  font-size: 12px;
  font-size: 1.2rem;
  color: #e6b422;
  font-weight: bold;
  letter-spacing: 0.25em;
}
.about__detail {
  margin-bottom: 20px;
  letter-spacing: 0.2em;
}
